body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 40px;
}

#page-cover-image {
    margin: 0 auto;
    width: 50%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
}

#page-cover-image figure {
    /* margin: 0;
    padding: 0; */
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#cover-image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

#instructor-image,
#textbook-image {
    display: block;
    width: 20%;
    margin: 0 auto;
    border-radius: 50%;
}

#section,
#about-course,
#about-instructor,
#contact,
#getting-started {
    margin: 50px 15% 50px 15%;
    background-color: #b1d9f7;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

#course-title {
    text-align: center;
}

#footer {
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}

#section {
    width: 50%;
}

#getting-started {
    width: 70%;
}

#hyflex {
    font-style: italic;
}

.signpost {
    color: green;
    font-size: 1.5em;
}

.highlight {
    background-color: yellow;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 0;
}

.shadow {
    margin: 50px 15% 50px 15%;
    background-color: #D8C3A5;
}

.letter {
    position: relative;
    top: -10px;
    left: -7px;
    padding: 20px;
    /* background-color: linen;
    border: 2px solid #D8C3A5; */
    background-color: #8fcff7;
    border: 2px solid #74a2bf;
    font-style: italic;
}

.logo {
    display: block;
    width: 20%;
}

.timeline {
    position: relative;
    margin: 50px 0;
    height: 100px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    transform: translateY(-50%);
}

.marker {
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    background-color: #007BFF;
    border-radius: 50%;
    transform: translateY(-50%);
}

.label {
    position: absolute;
    top: 65%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 12px;
}

.label.current {
    top: 25%;
}

.current-marker {
    background-color: #FF5722;
}