<ul>
    <li>Attendance is required and critical to success in this course.</li>
    <li>Class sessions will include lectures, presentations, discussions, and hands-on exercises. </li>
    <li>Participation means actively participating in the course environment, whether online or in-person. Submitting
        assignments on time, sharing in the Discussion Cafe, and responding to your instructor and peers are all part of
        active participation. </li>
    <li>You are expected to complete each assignment with diligence, thoroughness, professionalism, and respect for your
        peers. High quality work is expected.</li>
    <li>Due dates for all assignments are to be submitted by 11:59 p.m. on the date specified.</li>
    <li>No late assignments will be accepted. Late assignments will be given a grade of zero. </li>
    <li>Academic Dishonesty Consequences: Will incur a zero (0) on the assignment (cannot be dropped) AND a letter grade
        reduction.</li>
    <li>Check Canvas/email/announcements daily! You are expected to communicate with your instructor of any potential or
        foreseeable concerns. Please allow up to 48 business hours for email responses.</li>
</ul>