<p>
    This course provides a comprehensive overview of the essential concepts of information security including
    information security standards, education, professional certifications and compliance laws. It examines how
    business, government, and individuals operate in the digital world today. Students will gain hands on practice in
    mitigating security threats including access controls; security operations and administration; auditing, testing and
    monitoring; risk response and recovery; cryptography; networks and telecommunications; and malicious code and
    activities.
</p>