body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: lightskyblue;
    margin: 0;
    padding: 10px;
}

.timeline {
    position: relative;
    margin: 50px 0;
    height: 100px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    transform: translateY(-50%);
}

.marker {
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    background-color: #007BFF;
    border-radius: 50%;
    transform: translateY(-50%);
}

.label {
    position: absolute;
    top: 65%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 12px;
}

.current-marker {
    background-color: #FF5722;
}